/* @import url(https://fonts.googleapis.com/css?family=Inconsolata); */
@import url(../fonts/ubuntu-mono.css);
@import url(../fonts/merriweather.css);

@font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 400;
    src: local("Sauce Code Powerline Regular"),
      url(../fonts/SourceCodePro.woff2) format("woff2");
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("../img/background.jpg");
  background-size: 100%;
  background-position: center 5%;
  background-repeat: no-repeat;
  color: #e6e1dc;
  /* font-family: Consolas, Monaco, 'Ubuntu Mono', monospace; */
  font-family: 'Source Code Pro';
  font-size: 13px;
}

/* NAVBAR MENU */

.navbar-nav > li > a, .navbar-brand {
  padding-top: 5px !important;
  padding-bottom: 0 !important;
  height: 24px;
}
.navbar {
  min-height: 24px !important;
  border-radius: 0;
  background-color: rgba(0, 0, 0, .4);
  border: none;
  margin-bottom: 0;
}

.menu-item {
  border: 1px solid #e6e1dc;
  margin-right: 5px;
  margin-top: 2px;
  height: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

/* DESKTOP LAYOUT */

.desktop > .row {
  height: calc(100vh - 24px - 30px); /* 24px: navbar, 30px: margins */
  width: 100%;
  margin-left: 0;
}

.col {
  height: 100%;
  padding: 0;
  padding-right: 10px;
}

.col:first-child {
  padding-left: 10px;
}

.window {
  background-color: rgba(43, 43, 43, .9);
  min-height: 20px;
  margin: 0;
  margin-top: 10px;
  border: 1px solid rgba(43, 43, 43, .9);
  overflow: auto;
}

.terminal {
  cursor: text;
}

.window:hover {
  border: 1px solid #cc241d;
}

/* PRESENTATION */

#win-presentation { height: 40%; }

.prompt {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #98971a;
}

.prompt-1 {
  background-color: #d79921;
  color: rgb(43, 43, 43);
  line-height: 1em;
}

.separator-1::before {
  content: "⮀";
  color: #d79921;
  background-color: #b0aee5;
}

.prompt-2 {
  background-color: #b0aee5;
  color: rgb(43, 43, 43);
}

.separator-2::before {
  content: "⮀";
  color: #b0aee5;
  position: relative;
  left: -1px;
  font-size: 1.1em;
  background-color: rgba(43,43,43,0);
}

.term-content {
  padding-left: 5px;
}

.avatar {
  width: 128px;
  height: 128px;
  float: left;
  padding: 5px;
  padding-top: 0;
}

/* PORTFOLIO */

#win-portfolio    { height: 60%; }

.address-bar {
  background: linear-gradient(to bottom,
                              rgba(43, 43, 43, .9),
                              rgb(23, 23, 23));
  padding: 5px 15px 5px;
  border-bottom: 1px solid rgb(33, 33, 33);
  font-size: 2em;
  width: 100%;

  display: flex;
  justify-content: space-around;
  flex-wrap: no-wrap;
  align-items: center;
}

.bar-button {
  margin-left: 10px;
  margin-right: 10px;
}

.address-input {
  display: flex;
  align-items: center;
  color: rgb(43, 43, 43);
  flex-grow: 1;
}

.address-input > .fa-folder-open {
  position: relative;
  left: 40px;
}

.address-input > .fa-refresh {
  position: relative;
  right: 40px;
}

.address-input > input {
  border-radius: 4px;
  background-color: white;
  padding-left: 50px;
  font-size: 16px;
  height: 3em;
  width: 100%;
}

.portfolio-container > .row {
  margin-right: 0;
}

.portfolio-item {
  text-align: center;
  cursor: pointer;
}

.portfolio-item:hover {
  background-radius: 5px;
  background-color: #DC8520;
  color: rgb(43, 43, 43);
}

.portfolio-thumbnail {
  border-radius: 5px;
  width: 50%;
  margin: auto;
}

.portfolio-divider {
  width: 75%;
}

/* MODAL */

.modal-content {
  background-color: rgb(43, 43, 43);
}

.close {
  color: white;
}

/* RESUME */

#win-resume       { height: calc(100% + 10px); }
/* #win-resume { height: 80%; } */

.tab-ul {
  background-color: rgb(43, 43, 43);
}

.tab-content {
  height: calc(100% - 42px);
}

#resume-md {
  height: 100%;
  overflow-x: hidden;
}

.md-content {
  height: calc(100% - 42px);
  overflow-x: hidden;
  overflow-y: auto;
}

.vim-status-bar {
  background-color: #252733;

  display: flex;
  justify-content: space-between;
  flex-wrap: no-wrap;
  align-items: center;

  margin-bottom: 1.5em;
}

pre[class*="language-"] {
  overflow-x: hidden;
  overflow-y: auto;
  border: none;
  margin-top: 0;
  padding-top: 0;
  font-size: 13px;
  font-family: 'Source Code Pro';
  background-color: rgba(0, 0, 0, 0);
}

.vim-mode {
  background-color: #98971a;
  font-weight: bold;
  color: rgb(43, 43, 43);
  padding-left: 10px;
}

.vim-filename {
  color: #d79921;
}

.separator-3::before {
  content: "⮀";
  color: #98971a;
  left: -1px;
  font-size: 1.1em;
  background-color: #252733;
}

.vim-filetype {
  background-color: #d79921;
  color: rgb(43, 43, 43);
  padding-right: 10px;
  padding-left: 10px;
}

#resume-pdf {
  font-family: 'Merriweather';
  padding: 10px;
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

.download-resume {
  position: absolute;
  top: 20px;
  right: 20px;
}

.download-resume a {
  background-color: #d79921;
  color: rgb(43, 43, 43);
  padding: 10px;
}

.download-resume a:hover {
  text-decoration: none;
}


/* FOOTNOTE */

/* #win-footnote     { height: 20%; } */
